{% extends 'base.html' %}	
{% load wbs_tags %}
{% load wip_tags %}
{% load project_tags %}

{% block additional_css %}
<style>
.wip_permissions { {% get_css_for_permissions user wip_report %} }
</style>
{% endblock %}


{% block additional_jquery %}

// Add a new Heading
$("#add_heading").dialog({
	bgiframe: true,
	autoOpen: false,
	height: 100,
	width: 600,
	modal: true
});


$("a#link_add_heading").click(function(){
	$("#add_heading").dialog('open');
	return false;
	return false;
});

// Edit a work item
$("#edit_work_item").dialog({
	bgiframe: true,
	autoOpen: false,
	height: 600,
	width: 600,
	modal: true
});

{% for h in headings %}
	{% for i in h.wip_items.all %}
$("a#link_edit_work_item_{{ i.id }}").click(function(){
	$("#work_item_placeholder").load("{{ i.get_ajax_form }}");
	$("#work_item_placeholder_table").attr("action", "/WIP/UpdateWorkItem/{{ i.id }}/");
	$("#edit_work_item").dialog('open');
	return false;
});


// Add Engineering Day for {{ i.id }}
$("#add_engineering_day_{{ i.id }}").dialog({
	bgiframe: true,
	autoOpen: false,
	height: 300,
	width: 630,
	modal: true
});

$("#link_add_engineering_day_{{ i.id }}").click(function(){
	$('#add_engineering_day_{{ i.id }}').dialog('open');
	return false;
});

$("#id_engineering_day_{{ i.id }}_work_date").datepicker({
	dateFormat: "yy-mm-dd", 
	firstDay: 1
});

$("#id_engineering_day_{{ i.id }}_day_type").change(
	function() {
		$("#id_engineering_day_{{ i.id }}_resource").load("/WIP/Ajax/EngineeringDay/{{ i.id }}/" + $("#id_engineering_day_{{ i.id }}_work_date").val() + "/" + $("#id_engineering_day_{{ i.id }}_day_type").val() + "/");
			
	 });





	{% endfor %}

$("a#link_add_work_item_to_heading_{{ h.id }}").click(function(){
	$("#add_work_item_to_heading_{{ h.id }}").dialog('open');
	return false;
});

// Add a new Work Item
$("#add_work_item_to_heading_{{ h.id }}").dialog({
	bgiframe: true,
	autoOpen: false,
	height: 600,
	width: 600,
	modal: true
});


{% endfor %}

{% endblock %}


{% block main_content %}
		<div class="toggler">
			<div id="effect" class="ui-widget-content ui-corner-all">
				<h3 class="ui-widget-header ui-corner-all"><a id="toggle_effect_button" href="#">{{ wip_report.name }}</a></h3>
				<div id="toggle_effect">
				<p>
				{% if wip_report.agenda %}
				<h3>Agenda</h3>
				<p>{{ wip_report.agenda|safe }}
				<br>
				{% endif %}

			
				{% if objectives %}
				<h3>Objectives</h3>
				<ul>
				{% for o in objectives %}
					<li><a href="#work_item_{{ o.id }}">{{ o.description|truncatewords:15 }} - 
							{% if o.assignee.get_full_name %}{{ o.assignee.get_full_name }}{% else %}{{ o.assignee.username }}{% endif %}</a>
	
				{% endfor %}
				</ul>
				{% endif %}

				<h3>Summary</h3>

				<ul>
				{% for h in headings %}
					<li><a href="#heading_{{ h.id }}">{{ h.company }} - {{ h.heading }}</a></li>	
				{% endfor %}
				</ul>
				
				<h3>Work Items</h3>			
				<p>
				<a href="#" class="wip_permissions" id="link_add_heading">
						<button class="ui-button ui-state-default ui-corner-all">Add Heading</button></a>
				<p>
						
				<table border="0">	
				{% for h in headings %}
					{% ifchanged h.company %}
					<tr>
						<td colspan="2"><p class="wip_header_company">{{ h.company }}</p></td>
					</tr>
					{% endifchanged %}
				
					{% ifchanged h %}
					<tr style="border-style: none none dotted none ; border-color: silver; background-color: silver;">
						<td>
						<a name="heading_{{ h.id }}"></a>
						<p class="wip_header_heading">{{ h }}</p>
						</td>
						<td align="right">		
						<a href="#" class="wip_permissions" id="link_add_work_item_to_heading_{{ h.id }}"><br><button class="ui-button ui-state-default ui-corner-all">Add Work Item</button></a>
						{% ifequal h.wip_items.all|length 0 %} 
						<a href="#" class="wip_permissions"><button onClick="window.location='/WIP/CloseHeading/{{ h.id }}/';" class="ui-button ui-state-default ui-corner-all">Close</button></a>
						{% endifequal %}
						</td>
					</tr>
					{% endifchanged %}
	
					{% for i in h.wip_items.all %}
					{% ifequal i.complete 0 %}
				
					<tr><td colspan="2"><a name="work_item_{{ i.id }}"></a>	
					<a href="#" id="link_edit_work_item_{{ i.id }}">{{ i.description|linebreaks }}</a></td></tr>
					<tr><td colspan="2"><b>Assigned To:</b> {% if i.assignee.get_full_name %}{{ i.assignee.get_full_name }}{% else %} {{ i.assignee }} {% endif %} | 
							<b>Objective: </b> {{ i.objective|yesno:"Yes,No" }} |
							<b>Created: </b> {{ i.created_date|timesince }} ago
							
					</td></tr>

					<tr style="border-style: none none dashed none ; border-color: silver;"><td><b>Status: </b>{{ i.get_status_display }} | {% if i.deadline %}<b>Deadline: </b> {{ i.deadline }} | {% endif %}
							<b>Updated: </b> {{ i.modified_date|timesince }} ago  
							{% if i.engineering_days.all %}| <b>Engineering Days:</b> 
									{% for d in i.engineering_days.all %}{{ d.work_date|date:"jS M y" }} ({% get_initials_for_user d.resource %}) {% if not forloop.last %},{% endif %}  {%endfor%}
							{% endif %}

						</td>
						<td align="right"><button id="link_add_engineering_day_{{ i.id }}" class="wip_permissions ui-button ui-state-default ui-corner-all">Add Engineering Day</button></td>
					</tr>
					{% endifequal %}
					{% endfor %}	
						
				{% endfor %}	
				</table>
				</p>
				</div> <!-- end: toggle_effect -->
		</div>
	</div>
	<br>
		<div class="toggler">
			<div id="effect" class="ui-widget-content ui-corner-all">
				<h3 class="ui-widget-header ui-corner-all"><a id="toggle_effect_button2" href="#">Files</a></h3>
				<div id="toggle_effect2">

				<table>
					<tr><td>Date</td><td>Download</td></tr>
					<tr><td>Now</td><td><a href="{{ wip_report.get_download_url }}"><button class="ui-button ui-state-default ui-corner-all">Download</button></a></td></tr>
					{% for archive in wip_report.archives.all %}
					<tr><td>{{ archive.created_date|date:"D d M Y" }}</td><td><a href="{{ archive.get_absolute_url }}"><button class="ui-button ui-state-default ui-corner-all">Download</button></a></td></tr>
					{% endfor %}
				</table>

				</div>
			</div>
		</div>
<div id="edit_work_item" title="Edit Work Item">
	<form action="" method="POST" id="work_item_placeholder_table">
		<table id="work_item_placeholder">
		</table>
		<div align="center"><input type="submit" name="submit" value="Submit"></div>
	</form>
</div>

<div id="add_heading" title="Add Heading">
	<form action="/WIP/AddHeading/{{ wip_report.id }}/"  method="POST">
		<table>
		{% get_heading_form %}	
		</table>
		<div align="center"><input type="submit" name="submit" value="Submit"></div>
	</form>
</div>

{% for h in headings %}
<div id="add_work_item_to_heading_{{ h.id }}" title="Add Work Item">
	<form action="/WIP/AddWorkItem/{{ h.id }}/"  method="POST">
		<table class="jquery_table">
		{% get_work_item_form wip_report %}	
		</table>
		<div align="center"><input type="submit" name="submit" value="Submit"></div>
	</form>
</div>
					{% for i in h.wip_items.all %}

<div id="add_engineering_day_{{ i.id }}" title="Add Engineering Day">
	<p id="validateTips">All form fields are required.</p>
	<table>
	<form action="/WIP/AddEngineeringDay/{{ i.id }}/" method="POST">
	<fieldset>
	{% get_engineering_day_form i %}
	</fieldset>
	<tr><td></td><td><input type="submit" name="submit" value="Submit"></td></tr>
	</form>
	</table>
</div>

					{% endfor %}
{% endfor %}




{% endblock %}
