{% extends 'pdf-base.html' %}	
{% load rota_tags %}



{% block content %}

				{% for team in teams %}	
				<h2>{{ team.name }} Rota </h2>			

				<table class="pdf-table">
					<tr class="first_row">
							<td><!-- Name -->&nbsp;</td>
						{% for day in this_week %}
							<td>{{ day|date:"D d M Y" }}</td>
						{% endfor %}
					</tr>
				
					{% for m in team.members.all %}	
					<tr class="{% cycle 'odd_row' 'even_row' %}">
					<td>{% if m.get_full_name %}{{ m.get_full_name }}{% else %}{{ m.username }}{% endif %}</td>
						{% for day in this_week %}
							<td>{% get_activity_for_day m day %}</td>
					{% comment %}		{% get_project_task_for_day m day %}</td> {% endcomment %}
						{% endfor %}
					</tr>
					{% endfor %}
				</table>	
				{% endfor %}




{% endblock %}
