{% load rota_tags %}
			
				{% for team in teams %}
				<h3>{{ team.name }} Rota </h3>			

				<div id="myrota">
				<table border="1">
					<tr>
							<td><!-- Name -->&nbsp;</td>
						{% for day in this_week %}
							<td>{% ifequal today  day %}<b>{% endifequal %}{{ day|date:"D d M Y" }}{% ifequal today day %}</b>{% endifequal %}</td>
						{% endfor %}
					</tr>
				
					{% for m in team.members.all %}	
					<tr><td>{% if m.get_full_name %}{{ m.get_full_name }}{% else %}{{ m.username }}{% endif %}</td>
						{% for day in this_week %}
							<td>{% get_edit_rota_form_for_user m day %}</td>
						{% endfor %}
					</tr>
					<tr><td><!-- name -->&nbsp;</td>
						{% for day in this_week %}
							<td><div id="{{ m.id }}_{{ day|date:"Ymd" }}"></div></td>
						{% endfor %}
					</tr>
					{% endfor %}
				</table>	
				{% endfor %}




