{% extends 'base.html' %}	
{% load wbs_tags %}

{% block additional_jquery %}


$("#id_percent_complete").attr("readonly", true);
$("#id_percent_complete").after("<p><div width=\"80%\" id=\"slider\"></div>");

$("#slider").slider({
	value: {% if work_item %}{{ work_item.percent_complete|default_if_none:0 }}{% else %}0{% endif %},
	min: 0,
	max: 100,
	step: 10,
	slide: function(event, ui) {
		$("#id_percent_complete").val(ui.value);
	}
});
$("#id_start_date").datepicker();
$("#id_finish_date").datepicker();


{% endblock %}


{% block main_content %}
		<div class="toggler">
			<div id="effect" class="ui-widget-content ui-corner-all">
				<h3 class="ui-widget-header ui-corner-all"><a id="toggle_effect_button" href="#">Edit Work Item</a></h3>
				<div id="toggle_effect">
				<p>
				<table>
				<form action="{{ action }}" method="POST">
					{{ form.as_table }}
				<tr><td colspan="2"><input type="submit" name="submit" value="submit"></td></tr>
				</form>
				</table>
				<br>
				</p>

				<hr>
				
				<a href="/WBS/{{ project.project_number }}/Edit/"><button class="ui-button ui-state-default ui-corner-all">Return to Work Breakdown Structure</button></a>
				</div> <!-- end: toggle_effect -->
		</div>
		<br>

{% endblock %}
