{% extends 'base.html' %}
{% load rota_tags %}
{% load project_tags %}


<script type="text/javascript">
			$(function(){

				// Accordion
				$("#accordion").accordion({ header: "h3" });

				$("a#toggle_effect_button").click(function(){
					$("#toggle_effect").toggle('blind',500);
					return false;
				});

				$("a#toggle_effect_button2").click(function(){
					$("#toggle_effect2").toggle('blind',500);
					return false;
				});

				$("a#toggle_effect_button3").click(function(){
					$("#toggle_effect3").toggle('blind',500);
					return false;
				});


			});
</script>


{% block main_content %}
          <!-- skiplink anchor: Content -->
		<div class="toggler">
			<div id="effect" class="ui-widget-content ui-corner-all">
				<h3 class="ui-widget-header ui-corner-all"><a id="toggle_effect_button" href="#">Your Projects</a></h3>
				<div id="toggle_effect">
				<p>
				<table>
					<tr> <th>Number</th><th>Name</th><th>Company</th><th>% Complete</th><th>Status</th><th>RAG Status</th><th>Documentation Status</th> </tr>
					{% for proj in projects %}
					<tr> <td><a href="{{ proj.get_absolute_url }}">{{ proj.project_number }}</a></td><td><a href="{{ proj.get_absolute_url }}">{{ proj.project_name }}</a></td><td>{{ proj.company.company_name }}</td>
					<td> {% get_project_percent_complete proj %} % </td><td>{{ proj.get_project_status_display }}</td>
					<td> <p class="{% get_project_rag_status_css_class proj %}"> {% get_project_rag_status_brief proj %}</td>
					<td> <p class="{% get_project_documentation_status_css_class proj %}">{% get_project_documentation_status_brief proj %}</p></td>
					</tr>
					{% endfor %}
				</table>
				</p>
				</div> <!-- end: toggle_effect -->
		</div>
		<br>
		{% if wip_items %}
		<div class="toggler">
			<div id="effect" class="ui-widget-content ui-corner-all">
				<h3 class="ui-widget-header ui-corner-all"><a id="toggle_effect_button2" href="#">Your WIP items</a></h3>
				<div id="toggle_effect2">
				<p>
				<table>
					<tr> <td>Description</td><td>Company</td><td>Deadline</td> </tr>
					{% for i in wip_items %}
					<tr> <td><a href="{{ i.get_absolute_url }}">{{ i.description|truncatewords:20 }}</a></td><td>{{ i.heading.all.0.company.company_name }}</td>
								<td>{{ i.deadline|default_if_none:"None set" }}</td> </tr>
					{% endfor %}
				</table>
				</p>
				</div> <!-- end: toggle_effect -->
		</div>
		<br>
		{% endif %}
		<div class="toggler">
			<div id="effect" class="ui-widget-content ui-corner-all">
				<h3 class="ui-widget-header ui-corner-all"><a id="toggle_effect_button3" href="#">Your Rota</a></h3>
				<div id="toggle_effect3">
				<p>
				<table>
					<tr> <td>Day</td><td>Shift</td><td>Assigned Work</td> </tr>
					{% for day in this_week %}
					<tr> <td>{{ day|date:"D d M Y"  }}</td><td>{% get_activity_for_day user day %}</td><td>{% get_project_task_for_day user day %}</td> </tr>
					{% endfor %}
				</table>
				</p>
				</div> <!-- end: toggle_effect -->
		</div>


</div>
</div>
{% endblock %}
