{% extends 'base.html' %}	
{% load wbs_tags %}

{% block additional_javascript %}
{{ forms.DialogEditProjectDescription.media }}
{% endblock %}

{% block additional_jquery %}



{% endblock %}


{% block main_content %}
		<div class="toggler">
			<div id="effect" class="ui-widget-content ui-corner-all">
				<h3 class="ui-widget-header ui-corner-all"><a id="toggle_effect_button" href="#">All WIP Reports</a></h3>
				<div id="toggle_effect">
				<p>
				<table>
					<tr> <th>WIP Report</th> </tr>
					{% for r in wip_reports %}
						<tr> <td><a href="{{ r.get_absolute_url }}">{{ r.name }}</a></td> </tr>
					{% endfor %}
				</table>
				<br>

				</p>
				</div> <!-- end: toggle_effect -->
		</div>
		<br>

{% endblock %}
